*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
    /*gradient background */
    background: linear-gradient(
        135deg,
        #FF5733,
        #FFFFFF
    );
}

/*centres the list*/
main{
    border: 2px solid white;
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}

/*top section, input field and button*/
.add-new-item{
    position: centre;
    background: #FFFFFF;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/*input field*/
.add-new-item #addItem{
    margin-top: 3%;
    width: 80%;
    font-size: 12px;
    border: 2px solid #d1d1d1;
    color: black;
    padding: 7px;
    font-weight: 100;
    position: relative;
}

.add-new-item #alertText{
    margin-top: 5px;
    font-size:10px;
    padding-left: 5px;
    font-family: sans-serif;
    font-weight: bold;
}

/*when clicked, border is highlighted on input field*/
.add-new-item #addItem:focus{
    outline: none;
    border-color: rgb(87, 87, 87);
}

/*submit button*/
.add-new-item #submitItem{
    margin-top: 3.3%;
    position: relative;
    float: right;
    width: 50px;
    height: 30px;
    background: rgb(216, 216, 216);
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
}

/*bottom section, list items*/
section{
    margin-top: 10px;
    position: centre;
    background: #FFFFFF;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

}

/* each task item*/
#task{
    height: 50px;
    padding: 5px 10px ;
    border-bottom: #d1d1d1;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}

#task li{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#task button{
    width: 50px;
    height: 30px;
    background: rgb(216, 216, 216);
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
    
}